---
import "datatables.net-dt/css/dataTables.dataTables.css";

const { user, repo } = Astro.props;

const Cache = `https://api.github.com/repos/${user}/${repo}/commits?per_page=50`;

let Last =
	(await (
		await import("@Function/Commit/Cache/Set/Get/Fn.js")
	).default(Cache)) ?? (await (await fetch(Cache)).json());

(await import("@Function/Commit/Cache/Set/Fn.js")).default(Cache, Last);

Last = Last.map((Commit) => ({
	"Commit Message": Commit.message ?? "",
	"Author": Commit.commit.author.name,
	"Date": Commit.commit.author.date,
	"HREF": Commit.html_url,
}));

const UUID = (await import("@Function/Commit/UUID/Fn.js")).default();
---

<commit-table data-uuid={UUID}>
	<table class="cell-border compact stripe"></table>
</commit-table>

<script define:vars={{ Last, UUID }}>
	// @ts-ignore
	window[UUID] = Last;
</script>

<script>
	import DataTable from "datatables.net-dt";
	
	document.addEventListener("DOMContentLoaded", () => {
		class Commit extends HTMLElement {
			connectedCallback() {
				const UUID = this.dataset["uuid"] ?? "";

				new DataTable(`[data-uuid=${UUID}] table`, {
					columns: [
						{ title: "COMMIT MESSAGE", data: "Commit Message" },
						{ title: "AUTHOR", data: "Author" },
						{
							title: "DATE",
							render: (Data) =>
								`${new Date(Data).toLocaleDateString()}`,
							data: "Date",
							orderData: [4],
						},
						{
							title: "HREF",
							render: (Data) =>
								`<a class="font-medium text-blue-600 hover:underline dark:text-blue-500" \
								href="${Data}" \
								rel="noopener noreferrer" \
								target="_blank" \
							>${Data}</a>`,
							data: "HREF",
						},
						{
							title: "TIMESTAMP",
							data: "TimeStamp",
							visible: false,
						},
					],
					data: window[UUID].map((Row) => ({
						...Row,
						"TimeStamp": new Date(Row.Date).getTime(),
					})),
					responsive: true,
					paging: true,
					// fixedColumns: true,
					// fixedHeader: true,
					scrollCollapse: true,
					// scroller: true,
					scrollY: "1000px",
					processing: true,

					// @deprecated
					// pagingType: "full_numbers",

					order: [[4, "desc"]],
				});
			}
		}

		customElements.define("commit-table", Commit);
	});
</script>
