---
import "datatables.net-dt/css/dataTables.dataTables.css";
import "datatables.net-buttons-dt/css/buttons.dataTables.css";
import "datatables.net-colreorder-dt/css/colReorder.dataTables.css";
import "datatables.net-fixedcolumns-dt/css/fixedColumns.dataTables.css";
import "datatables.net-fixedheader-dt/css/fixedHeader.dataTables.css";
import "datatables.net-keytable-dt/css/keyTable.dataTables.css";
import "datatables.net-responsive-dt/css/responsive.dataTables.css";
import "datatables.net-rowgroup-dt/css/rowGroup.dataTables.css";
import "datatables.net-rowreorder-dt/css/rowReorder.dataTables.css";
import "datatables.net-scroller-dt/css/scroller.dataTables.css";
import "datatables.net-searchbuilder-dt/css/searchBuilder.dataTables.css";
import "datatables.net-searchpanes-dt/css/searchPanes.dataTables.css";
import "datatables.net-select-dt/css/select.dataTables.css";
import "datatables.net-staterestore-dt/css/stateRestore.dataTables.css";

const { user, repo } = Astro.props;

// const Last = (
// 	await (
// 		await fetch(
// 			`https://api.github.com/repos/${user}/${repo}/commits?per_page=10`,
// 		)
// 	).json()
// ).map((Commit) => [
// 	'Commit Message': Commit.message,
// 	'Author': Commit.commit.author.name,
// 	'Date': Commit.commit.author.date,
// 	'HREF': Commit.html_url,
// ]);

const Last = [
	{
		"Commit Message": null,
		"Author": "Auto",
		"Date": "2025-01-17T00:08:59Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/87b8fc78f30035bd6a7cecd515e93c94259dc455",
	},
	{
		"Commit Message": null,
		"Author": "Auto",
		"Date": "2025-01-16T00:52:32Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/2117b5380e699d0642ac3a2a6652bcf6f82f5bd5",
	},
	{
		"Commit Message": null,
		"Author": "Nikola Hristov",
		"Date": "2025-01-15T16:10:23Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/e7706c5f26464fab149691ca5ea7c0d9b8c7d0c0",
	},
	{
		"Commit Message": null,
		"Author": "Nikola Hristov",
		"Date": "2025-01-15T16:02:32Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/7008d86d8b8b48d98fecf22ac1d743c188eae874",
	},
	{
		"Commit Message": null,
		"Author": "Nikola Hristov",
		"Date": "2025-01-15T11:05:28Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/43718cab8186bd4e4f9aa09227ed5849f10ae4bd",
	},
	{
		"Commit Message": null,
		"Author": "Nikola Hristov",
		"Date": "2025-01-15T03:14:00Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/4f91f22ac83196beaa35e641266e1782b283ff04",
	},
	{
		"Commit Message": null,
		"Author": "Nikola Hristov",
		"Date": "2025-01-15T03:10:03Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/4be44fb9b95d1ede3c8121c3e4ab0bad90f026bd",
	},
	{
		"Commit Message": null,
		"Author": "Nikola Hristov",
		"Date": "2025-01-15T03:06:06Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/5cd86bdb1abfefbff199ea5f67987ec5c76a663e",
	},
	{
		"Commit Message": null,
		"Author": "Nikola Hristov",
		"Date": "2025-01-15T03:01:12Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/ed336e9b95ba2afcee8a600765d12a43611c0bc8",
	},
	{
		"Commit Message": null,
		"Author": "Auto",
		"Date": "2025-01-15T00:53:18Z",
		"HREF": "https://github.com/CodeEditorLand/Land/commit/06d39f95f0e1054b03208adbe2b3b0969ce05a24",
	},
];

const UUID = (await import("@Function/Commit/UUID/Fn.js")).default();
---

<commit-table data-uuid={UUID} data-data={JSON.stringify(Last)}>
	<table></table>
</commit-table>

<script>
	import DataTable from "datatables.net-dt";
	import jszip from "jszip";
	import pdfmake from "pdfmake";

	import "datatables.net-buttons-dt";
	import "datatables.net-buttons/js/buttons.colVis.mjs";
	import "datatables.net-buttons/js/buttons.html5.mjs";
	import "datatables.net-buttons/js/buttons.print.mjs";
	import "datatables.net-colreorder-dt";
	import "datatables.net-fixedcolumns-dt";
	import "datatables.net-fixedheader-dt";
	import "datatables.net-keytable-dt";
	import "datatables.net-responsive-dt";
	import "datatables.net-rowgroup-dt";
	import "datatables.net-rowreorder-dt";
	import "datatables.net-scroller-dt";
	import "datatables.net-searchbuilder-dt";
	import "datatables.net-searchpanes-dt";
	import "datatables.net-select-dt";
	import "datatables.net-staterestore-dt";

	class Commit extends HTMLElement {
		connectedCallback() {
			const data = JSON.parse(this.dataset["data"] ?? "[]").map(
				(Row) => ({
					...Row,
					"TimeStamp": new Date(Row.Date).getTime(),
				}),
			);

			new DataTable(`[data-uuid=${this.dataset["uuid"]}] table`, {
				columns: [
					{ title: "COMMIT MESSAGE", data: "Commit Message" },
					{ title: "AUTHOR", data: "Author" },
					{
						title: "DATE",
						render: (Data) =>
							`${new Date(Data).toLocaleDateString()}`,
						data: "Date",
						orderData: [4],
					},
					{
						title: "HREF",
						render: (Data) =>
							`<a \
								class="font-medium text-blue-600 hover:underline dark:text-blue-500" \
								href="${Data}" \
								rel="noopener noreferrer" \
								target="_blank" \
							>${Data}</a>`,
						data: "HREF",
					},
					{
						title: "TIMESTAMP",
						data: "TimeStamp",
						visible: false,
					},
				],
				data: data,
				responsive: true,
				paging: true,
				fixedColumns: true,
				fixedHeader: true,
				scrollCollapse: true,
				scroller: true,
				scrollY: "1000px",
				processing: true,

				// @deprecated
				// pagingType: "full_numbers",

				order: [[4, "desc"]],
			});
		}
	}

	customElements.define("commit-table", Commit);
</script>
