---
const { user, repo } = Astro.props;

const Last = (
	await (
		await fetch(
			`https://api.github.com/repos/${user}/${repo}/commits?per_page=1`,
		)
	).json()
)[0];
---

<div>
	{
		Last && (
			<>
				<p>
					<strong>Message:</strong> {Last.commit.message}
				</p>

				<p>
					<strong>Author:</strong> {Last.commit.author.name}
				</p>

				<p>
					<strong>Date:</strong>{" "}
					{new Date(Last.commit.author.date).toLocaleDateString()}
				</p>

				<a
					href={Last.html_url}
					target="_blank"
					rel="noopener noreferrer">
					View on GitHub
				</a>
			</>
		)
	}

	{!Last && <p>No commits found.</p>}
</div>
