---
const { user, repo } = Astro.props;

const Last = await (
	await fetch(
		`https://api.github.com/repos/${user}/${repo}/commits?per_page=10`,
	)
).json();
---

<div>
	{
		Last.length > 0 ? (
			<>
				<h1>Latest Commits</h1>

				<h2>
					{user}/{repo}
				</h2>

				{Last.map(
					(Commit: {
						message: string;
						author: {
							name: string;
							date: string;
						};
						html_url: string;
					}) => (
						<div>
							<p>
								<strong>Message:</strong> {Commit.message}
							</p>

							<p>
								<strong>Author:</strong> {Commit.author.name}
							</p>
							<p>
								<strong>Date:</strong>{" "}
								{new Date(
									Commit.author.date,
								).toLocaleDateString()}
							</p>

							<a
								href={Commit.html_url}
								target="_blank"
								rel="noopener noreferrer">
								View on GitHub
							</a>
						</div>
					),
				)}
			</>
		) : (
			<p>No commits found.</p>
		)
	}
</div>
